body {
  margin: 0; padding: 0.2em;
  font-size: 90%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

a {
  cursor: pointer;
  color: #0066CC;
  text-decoration: none;
  margin: 0; padding: 0;
}

a:hover {
  color: white;
  background-color: #0066cc;
}

ul {
  list-style-type: none;
  margin: 0; padding: 0.2em;
}

table {
  width: 100%;
}

td {
  text-align: left;
  vertical-align: top;
  margin: 0; padding: 0.2em;
}

td a {
}

th {
  text-align: left;
  vertical-align: top;
  margin: 0; padding: 0.2em;
  color: white;
  background-color: #9d9ea0;
}

tr {
  background-color: #eeeeee;
}

#header {
  text-align: left;
  vertical-align: top;
}

#header form, #header p {
  clear: both;
  text-align: right;
  list-style-type: none;
}

form {
}

#searchform {
  text-align: right;
  font-size: 90%;
  margin: 0; padding: 0.2em;
}

.pagination {
  text-align: left;
  font-size: 90%;
  margin: 0; padding: 0.2em;
}

.bottom {
  vertical-align: bottom;
}

.current_page {
  vertical-align: bottom;
  font-size: 110%;
  font-weight: bold;
}

#searchform input {
  font-size: 90%;
  margin: 0; padding: 0.2em;
}

#content {
  clear: both;
}

.row1 {
  background-color: #eeeeee;
}

.row2 {
  background-color: #eeeeee;
}

.meta {
  color: #9d9ea0;
}

