{% load markup %}
{% autoescape off %}
<div>{{ obj.pub_date|date:"d.m.Y, H:i" }}</div>

<div>
    <br/>
    {% with news=obj %}
        {% if news.markup == 'markdown' %}
            {{ news.preview|markdown }}
        {% endif %}
        {% if news.markup == 'restructuredtext' %}
            {{ news.preview|restructuredtext }}
        {% endif %}
        {% if news.markup == 'textile' %}
            {{ news.preview|textile }}
        {% endif %}
        {% if news.markup == 'text' %}
            {{ news.preview|urlize|linebreaks }}
        {% endif %}
    {% endwith %}
    {% if obj.text %}<p><a href="{{ obj.get_absolute_url }}" class="tx10">[weiterlesen]</a></p>{% endif %}
</div>
{% endautoescape %}
