{% autoescape off %}
<div>
    {{ obj.start_date|date:"SHORT_DATE_FORMAT" }}
    {% if obj.end_date %} - {{ obj.end_date|date:"SHORT_DATE_FORMAT" }}{% endif %}
</div>

<br/>

<div>
    <table>
        {% if obj.teacher %}
        <tr>
            <td>{{ _('Teacher') }}:</td>
            <td>{{ obj.teacher }}{% if obj.teacher.current_rank %}, {{ obj.teacher.current_rank }}{% endif %}</td>
        </tr>
        {% endif %}

        {% if obj.start_date %}
        <tr>
            <td>{% if obj.end_date %}{{ _('Start Date') }}{% else %}{{ _('Date') }}{% endif %}:</td>
            <td>{{ obj.start_date|date:"D, d. F Y" }}</td>
        {% endif %}
        </tr>

        {% if obj.end_date %}
        <tr>
            <td>{{ _('End Date') }}:</td>
            <td>{{ obj.end_date|date:"D, d. F Y" }}</td>
        </tr>
        {% endif %}

        {% if obj.venue %}
        <tr>
            <td>{{ _('Venue') }}:</td>
            <td>{{ obj.venue }}</td>
        </tr>
        {% endif %}

        {% if obj.city %}
        <tr>
            <td>{{ _('City') }}:</td>
            <td>{{ obj.city }}</td>
        </tr>
        {% endif %}

        {% if obj.country %}
        <tr>
            <td>{{ _('Country') }}:</td>
            <td>{{ obj.country.name }}</td>
        </tr>
        {% endif %}

    </table>
</div>

<div>
    {{ obj.get_text|urlize|linebreaks }}
</div>
{% endautoescape %}
