@import url(http://fonts.googleapis.com/css?family=Ubuntu:300|Ubuntu+Mono);
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 101%;
    background: #fff;
    background-image: url("/static/images/bg-blue-grad.png");
    background-repeat: repeat-x;
    border-top: 5px solid RoyalBlue;
}
a {text-decoration: none; color: RoyalBlue; margin: 0; padding: 2px;}
a:hover {text-decoration: none; color: RoyalBlue; border-bottom: 1px dotted; margin: 0; padding: 2px;}
code {font-family: "Ubuntu Mono";}
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
li {margin: 0; padding: 2px;}
td, th {padding: 0 10px 0 0; text-align: left;}
th {font-size: 1.2em; font-weight: normal; padding-bottom: 10px;}

#footer {font-size: .8em; text-align: center; padding: 10px 0; color: #888; border-top: solid #eee 5px;}
#header {text-align: center; font-size: 3em;}
#header table {margin: auto;}
#header, #content, #menu, #footer {margin-top: 10px;}
#menu {font-size:1.2em; text-align: center; margin-bottom: 10px; color: #aaa;}
#welcome {font-size:1.2em; text-align: center;}
#menu ul, ul {list-style-type:none; margin: 0; padding: 2px;}
#menu li {display: inline; color: #444; margin: 0; padding: 2px;}
#photos {margin-bottom: 10px;}

.align-left {float: left;}
.align-right {float: right;}
.blue {color: RoyalBlue; font-weight: bold;}
.border {border-bottom: 1px dotted #ddd;}
.bottom {vertical-align: bottom;}
.bottom-space {margin-bottom: 10px;}
.center {text-align: center;}
.clear {clear: both;}
.columnhover:hover {background-color: LemonChiffon;}
.delete, .delete:hover {color: red;}
.detailed {font-size: 1.6em;}
.edit, .edit:hover {color: orange;}
.flag{border:1px solid RoyalBlue;}
.flatpage ul {list-style-type: circle;}
.flatpage ul, .flatpage ol, .flatpage table {margin-left: 10px; padding-left: 10px;}
.flatpage li {margin-left: 10px; padding-left: 10px;}
.flatpage .news-content img {float: right;}
.img-left {margin-right: 3px;}
.languages {font-size: 1em;}
.left {text-align: left;}
.logo {vertical-align: middle; text-align: center;}
.menu-entry {padding: 2px;}
.menu-logged-in {font-size: .8em;}
.middle {vertical-align: middle;}
.new, .new:hover {color: green;}
.news-content {margin-top: 10px;}
.news-content ul {list-style-type:circle;}
.news-content li {margin-left: 20px; padding: 0;}
.news-content h1, .news-content h2, .news-content h3, .news-content h4 {margin: 10px 0;}
.news-footer {margin-bottom: 2em; clear: both;}
.news-header {font-size: 1.2em; border-bottom: 1px dotted #ddd;}
.news-header-detail {font-size: 1.4em; border-bottom: 1px dotted #ddd;}
.news-meta {color: #888; font-size: .8em;}
.overview {font-size: .8em;}
.photo {margin: 3px; padding: 1px; background: #FFF; border:2px solid silver;}
.photo-right {margin-left: 3px; padding: 1px; background: #FFF;}
.right {text-align: right;}
.section-header {font-size: 1.8em; margin-bottom: 0;}
.section-meta {margin-bottom: 1.5em; color: #888;}
.selected {background-color: SkyBlue; color: white;}
.small {font-size: .8em;}
.tendo {color: white;}
.worldaikido {color: #ccc;}
