{% extends "twa-index.html" %}

{% load i18n %}
{% load twa_tags %}

{% block content %}
<h2>News</h2>
<ul>
  {% for news in object_list %}
    <li>
      {% autoescape off %}
      <center>
        <a href="{{ news.get_absolute_url }}">{{ news.get_title }}</a>
        <br/><span class="tx12g">{{ news.pub_date|date:"d.m.Y" }}</span>
      </center>
      {% if news.photo %}
          <a href="{{ news.get_absolute_url }}"><img align="right" class="photo" src="{{ news.photo|thumbnail:"100x100" }}" title="" alt="[{{ news.photo }}]" /></a>
      {% endif %}
      {{ news.get_preview|urlize|linebreaks }}
      {% if news.get_text %}<p><a href="{{ news.get_absolute_url }}" class="tx10">[{% trans "read more" %}]</a></p>{% endif %}
      <div class="clear"></div>
      {% endautoescape %}

    <div>
    {% for attachment in news.attachment_set.all  %}
        <p>
          <a href="/static/{{ attachment.file.name }}">{{ attachment.name }}</a>
          <span class="small">
          ({{ attachment.file|extension|lower }},
          {{ attachment.file.size|filesizeformat }})
          </span>
        </p>
    {% endfor %}
    </div>

    </li>
  {% endfor %}
</ul>

{% if is_paginated %}
<div class="white" align="center">
  <small>{% paginator %}</small>
</div>
{% endif %}

{% endblock %}
