{% extends "2011/index.html" %}
{% load i18n %}
{% load twa_tags %}

{% block content %}
<div class="grid_24">
    <div class="section-header bottom-space">
        {% trans "Dojos" %}
        <span class="meta small">({{ counter }})</span>
    </div>

    <div class="section-meta small">
        <div class="bottom-space">
            <div>{% trans "Country" %} ({{ countries|length }}):</div>
            {% for country in countries %}
                <a href="?dojo={{ country|urlencode }}" class="menu-entry{% if dojo == country %} selected{% endif %}">{{ country }}</a>
            {% endfor %}
        </div>

        <div class="bottom-space">
            <div>{% trans "City" %} ({{ cities|length }}):</div>
            {% for city in cities %}
                <a href="?dojo={{ city|urlencode }}" class="menu-entry{% if dojo == city %} selected{% endif %}">{{ city }}</a>
            {% endfor %}
        </div>

        <div class="bottom-space">
            <a href="/dojos/" class="menu-entry{% if not dojo %} selected{% endif %}">{% trans "all" %}</a>
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="grid_24">
    {% if object_list %}
    <table width="100%">
        <tr class="border">
            <th>{% trans "Name" %}</th>
            <th>{% trans "City" %}</th>
            <th>{% trans "Country" %}</th>
            <th class="right">{% trans 'Members' %}</th>
        </tr>
        {% for dojo in object_list %}
            <tr class="columnhover border">
                <td class="dojo"><a href="{{ dojo.get_absolute_url }}">{% if dojo.name_jp %}{{ dojo.name_jp }} {% endif %}{{ dojo.name }}</a></td>
                <td class="meta">{{ dojo.city }}</td>
                <td class="meta">{{ dojo.country.get_name }}</td>
                {% with dojo.person_set.all|length as dojo_count %}
                    <td class="small meta right" title="{{ dojo_count }} {% trans "Members" %}">{{ dojo_count }}</td>
                {% endwith %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        {% if dojo %}
            {% trans 'No Dojo found' %}: "{{ dojo }}"
        {% endif %}
    {% endif %}

    {% if is_paginated %}
    <div class="white" align="center">
        <small>{% paginator %}</small>
    </div>
    {% endif %}
</div>

{% endblock %}
