{% extends "2011/index.html" %}
{% load i18n %}
{% load l10n %}
{% load twa_tags %}

{% block content %}
    <div class="section-header">
        {% trans "Licenses" %} <span class="small meta">({{ counter|localize }})</span>
    </div>

    <div class="section-meta">
        <div class="bottom-space">
            {% if perms.members.add_license %}
                <a href="/admin/members/license/add/" class="new">{% trans "new" %}</a>
            {% endif %}
        </div>

        <div class="small bottom-space">
            {% trans "Filter" %}:
            <a href="/licenses/" class='menu-entry{% if not filter %} selected{% endif %}'>{% trans "all" %}</a>
            <a href="/licenses/twa/" class='menu-entry{% if filter == "twa" %} selected{% endif %}'>{% trans "mit TWA" %}</a>
            <a href="/licenses/notwa/" class='menu-entry{% if filter == "nontwa" %} selected{% endif %}'>{% trans "ohne TWA" %}</a>
        </div>
    </div>

    <table width="100%">
        <tr class="">
            <th>{% trans "Name" %}</th>
            <th>{% trans "Dojo" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "TWA ID" %}</th>
            <th>{% trans "Status" %}</th>
        </tr>

        <tr class="border">
            <td class="small top"><a href="?sort=name" class="small">{% trans 'sort' %}</a></td>
            <td class="small top"><a href="?sort=dojo" class="small">{% trans 'sort' %}</a></td>
            <td class="small top"><a href="?sort=date" class="small">{% trans 'sort' %}</a></div></td>
            <td></td>
            <td></td>
        </tr>

        {% for license in object_list %}
        <tr class="columnhover border">
            <td class="dojo top"><a href="{{ license.person.get_absolute_url }}">{{ license.person }}</a></td>
            <td class="small top">
                {% for dojo in license.person.dojos.all %}
                    <div><a href="{{ dojo.get_absolute_url }}">{{ dojo }}</a></div>
                {% endfor %}
            </td>
            <td class="small top">{{ license.date|date:"Y-m-d" }}</td>
            <td class="small top">{{ license.person.twa_id }}</td>
            <td class="small top">{{ license.person.twa_status }}</td>
        </tr>
        {% endfor %}
    </table>

{% if is_paginated %}
<div class="white" align="center">
  <small>{% paginator %}</small>
</div>
{% endif %}

{% if user.is_superuser %}
<div class="white" align="center">
  <small>
    <br/>{% trans "Export to" %} <a href="/licenses/xls/">xls</a>
  </small>
</div>
{% endif %}

{% endblock %}
