{% extends "2011/index.html" %}

{% block content %}
<div class="grid_16 alpha">
    <div class="section-header">
        {{ _('Current Seminars') }}

        {% if user.is_authenticated %}
            <a href="/admin/members/seminar/add/" class="new small">{{ _('new') }}</a>
        {% endif %}
    </div>
    <div class="section-meta">
    </div>
</div>

<div class="grid_4 alpha">
    <div>
        <a href="/seminars/">{{ _('all seminars') }}</a>
    </div>

    <br/>

    <ul>
        <li class="border"></li>
    {% for seminar in seminars %}
        <li class="border"><a href="{{ seminar.get_absolute_url }}">{{ seminar.get_title }}</a></li>
    {% endfor %}
    </ul>
</div>

<div class="grid_12 omega">
    {% for seminar in seminars %}
        {% include "2011/seminar-snippet.html" %}
    {% empty %}
        <div>{{ _('No upcoming seminars.') }}</div>
    {% endfor %}
</div>
{% endblock %}
